<script type="module" src="/js/main.js"></script>
<!DOCTYPE html>
<html>
  <head>
    <title>Notas de Voz</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Notas de Voz</h1>
    <p>Sistemas Web (2023-2024)</p>
  </body>
</html>
